<?xml version="1.0" encoding="UTF-8"?>

<schema name="unicode-normalization-test" version="1.0">
  <types>
    <fieldType name="uuid"      class="solr.UUIDField"/>
    <fieldType name="text-norm" class="solr.TextField">
      <analyzer>
        <charFilter
          class="com.livedoor.lucene.analysis.UnicodeNormalizationCharFilter"
          mode="nfkc"
          />
      </analyzer>
    </fieldType>
  </types>
  <fields>
    <field name="id"           type="uuid"       indexed="true"  stored="true"  required="true"  default="NEW"/>
    <field name="title"        type="text-norm"  indexed="true"  stored="true"/>
    <field name="text"         type="text-norm"  indexed="true"  stored="true"/>
  </fields>
  <uniqueKey>id</uniqueKey>
</schema>

